@using PierresSweets.Models;

@model List<PierresSweets.Models.Flavor>

<h1>Welcome to the PierresSweets</h1>

@if(Model.Any()) 
{
  <ul>
  @foreach (Flavor flavor in Model)
  {
    <h2>Flavors</h2>
    <li>@Html.ActionLink($"{flavor.Name}", "Name", new { id = flavor.FlavorId })</li>
  }
  </ul>
}
else
{
  <p>No flavors added</p>
}
@if(Model.Any())
{
  <ul>
    @foreach (Treat treat in ViewBag.TreatList)
    {
      <h2>Treats</h2>
      <li>@Html.ActionLink($"{treat.Name}", "Name", new { id = treat.TreatId })</li>
    }
  </ul>
}
else
{
  <p>No treats added</p>
}



<p>@Html.ActionLink("See all Treats", "Index", "Treat")</p>
<p>@Html.ActionLink("See all Flavors", "Index", "Flavor")</p>
<p>@Html.ActionLink("Account", "Index", "Account")</p>